@import 'config';
/*Importando variáveis do config*/
*{
    padding:0;
    margin:0;
}
body{
    font-family:  'Oswald', 'Droid sans';
}
input{
    padding:10px;
    border-radius:5px;
    border:1px solid black;
    outline:none;
}
button{
    background:$laranjaFundo;
    border:none;
    border-radius:5px;
    padding:10px 20px;
    color:white;
    text-transform:uppercase;
}
a{
    text-decoration:none;
    color:white;
}
i{
    color:$laranjaLetra;
    font-weight:900;
    font-style:normal;
}
ul{
    list-style:none;
}


//Classes para efeitos de JS
.visivel{
    display:flex;
    justify-content:center;
    align-items:center;
}
.ativar{
    display:initial;
}
.invisivel{
    display:none;
}




header{
    width:$total;
    height:30vh;
    .cabecalho{
        width:$total;
        height:60%;

        &_container{
            width:30%;
            height:80%;
            float:left;
            display:flex;
            justify-content:center;
            align-items:center;
            &_titulo{
                padding:10px;
                text-align:center;
                h1{
                    text-transform:uppercase;
                    color:$laranjaLetra;
                    font-size:2em;
                    span{
                        font-weight:300;
                    }
                }
                &_subtitulo{
                    font-style:italic;
                    font-weight:600;
                    color:$roxoNavbar;
                    background:white;
                    position:relative;
                    &:before , &:after{
                        content:"";
                        display:block;
                        background:rgba(0,0,0,.2);
                        height:2px;
                        width:15%;
                    }  
                    &:before{
                        position:absolute;
                        top:5px;
                        left:-30px;
                    }
                    &:after{
                        position:absolute;
                        top:5px;
                        right:-30px;
                    }
                }
            }
        }

        &_busca{
            width:30%;
            height:$total - 20%;
            float:left;
            display:flex;
            align-items:center;
            justify-content:center;
            input{
                height:40px;
                width:80%;
            }
        }
        &_frete{
            width:20%;
            height:$total;
            float:left;
            &_titulo{
                margin-top:20px;
                float:right;
                color:$laranjaLetra;
                font-style:italic;
                h2{
                    font-weight:100;
                    font-size:1.3em;
                }
            }
        }
        &_carrinho{
            width:20%;
            height:$total;
            float:right;
            &_imagem{
                width:40%;  
                height:90%;
                float:left;
                display:flex;
                margin-top:15px;
                justify-content:center;
                img{
                    width:40%;
                    height:45%;
                }
            }
            &_descricao{
                width:50%;
                height:$total;
                float:left;
                display:flex;
                span{
                    margin-top:30px;
                    color:grey;
                }
            }
        }
        &_navegacao{
            width:$total;
            height:75px;
            display:flex;
            justify-content:center;
            background:$roxoNavbar;
                &_listas{
                    width:70%;
                    height:100%;
                    float:left;
                    li{
                        margin:0px 10px;
                        padding:0px 10px;
                        height:$total;
                        float:left;
                        display:flex;
                        align-items:center;
                        font-style:italic;
                        a{
                            padding:20px 15px;
                            border-radius:10px;
                            &:hover{
                                background:$roxoHover;
                                transition:200ms;
                            }
                        }
                    }
                }
            &_area_cliente{
                width:20%;
                float:left;
                height:$total;
                display:flex;
                justify-content:center;
                align-items:center;
            }
        }
    }
}
@media screen and (max-width:800px){
    header{
        height:20vh;
        position:relative;

        .cabecalho{
            height:80%;
            &_hamburger{
                width:15%;
                height:100%;
                float:left;
                cursor:pointer;
                &_botao{ 
                    width:60%;
                    height:50%;
                    span{
                        background:$roxoNavbar;
                        width:100%;
                        height:10px;
                        margin:5px 0px;
                        display:block;
                        border-radius:20px;
                    }
                }
            }
            
            &_mobile{ 
                &_sair{
                    width:100%;
                    height:100%;
                    background:white;
                }
                &_navegacao{
                    width:100%;
                    height:100vh;
                    background:red;
                    &_listas{
                        width:100%;
                        height:50%;
                        background:$roxoNavbar;
                        li{
                            width:100%;
                            height:10%;
                        }
                    }
                }
            }


            &_container{
                float:left;
                width:70%;
                height:100%;
            }
            &_busca{
                display:none;
            }
            &_frete{
                display:none;
            }
            &_navegacao{
                display:none;
                &_mobile{
                    display:none;
                }
            }
            &_carrinho{
                float:left;
                width:15%;
                &_imagem{
                    width:100%;
                    height:70%;
                    margin-top:0px;
                    position:relative;
                    img{
                        position:absolute;
                        bottom:0px;
                        width:55%;
                        height:90%;
                    }
                }
                &_descricao{
                    width:100%;
                    height:20%;
                    display:initial;
                    text-align:center;
                }
            }
        }
    }
}







main{
    width:$total;
    display:flex;
    justify-content:center;
    align-items:center;
    .vitrine{
        width:90%;
        &_titulo{
            padding:50px 0px;
            display:block; 
        }
        &_container{
            width:$total;
            display:flex;
            flex-wrap:wrap;
            justify-content:space-evenly;

            &_pocao{
                margin:90px 10px;
                width:25%;
                height:300px;
                display:flex;
                justify-content:center;
                flex-wrap:wrap;
                cursor:pointer;
                transition:200ms;
                &_imagem{
                    width:$total;
                    height:$total - 10%;
                    img{
                        width:$total;
                        height:$total;
                    }
                }
                span{
                    width:100%;
                    font-weight:600;
                    display:block;
                    &::first-letter{
                        text-transform:uppercase;
                    }
                    i{
                        font-weight:100;
                    }
                }
                &:hover{
                    opacity:0.4;
                    transition:200ms;
                }
            }
        }



        //POPUP
        &_sobreposicao{
            z-index:1px;
            width:100%;
            height:100vh;
            background:rgba(0,0,0,.5);
            position:fixed;
            top:0px;
            left:0px;
            transition:200ms;
            &_popup{
                width:50%;
                padding-bottom:80px;
                box-shadow:0px 0px 5px white;
                background:white;
                &_sair{
                    height:50px;
                    padding:10px 10px;
                    text-align:right;
                    span{
                        cursor:pointer;
                        text-transform:uppercase;
                    }
                }
                &_imagem{
                    width:60%;
                    float:left;
                    display:flex;
                    align-items:center;
                    img{
                        height:400px;
                        width:100%;
                    }
                }
                &_informacoes{
                    width:40%;
                    float:left;
                    h2{
                        padding-bottom:20px;
                    }
                    span{
                        font-size:1.3em;
                        font-weight:600;
                    }
                    &_json{
                        width:100%;
                        padding:20px 0px;
                        span{
                            font-weight:100;
                            font-size:1em;
                        }
                    }
                    
                }
            }
        }

    }
}







footer{
    width:$total;
    background:$cinza;
    .informacoes{
        height:275px;
        padding:20px 0px;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
        &_contato{
            width:40%;
            height:$total - 20%;
            &_navegacao{
                width:100%;
                height:30%;
                &_listas{
                    width:100%;
                    height:100%;
                    li{
                        width:30%;
                        padding:0px 0px;
                        float:left;
                        text-transform:uppercase;
                        color:$laranjaLetra;
                        font-size:1.2em;
                    }
                }
            }
            &_sociais{
                width:70%;
                height:50%;
                display:flex;
                justify-content:space-between;
                align-items:center;
                img{
                    width:15%;
                    height:40%;
                }
            }
            &_copyright{
                width:100%;
                height:25%;
                display:flex;
                align-items:center;
            }
        }
        &_newsletter{
            width:40%;
            display:flex;
            justify-content:center;  
            &_formulario{
                background:white;
                border-radius:10px;
                width:80%;
                height:55%;
                padding:30px 30px;
                h3{
                    font-style:italic;
                    font-weight:100;
                }
                p{
                    padding:20px 0px;
                }
                &_inputs{
                    width:100%;
                    height:40px;
                    input{
                        height:45%;
                        width:60%;
                    }
                    button{
                        background:$laranjaFundo;
                        width:32%;
                        height:100%;
                        float:right;
                        border:none;
                        border-radius:5px;
                        color:white;
                        text-transform:uppercase;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px){
    main{
        .vitrine{
            width:100%;
            &_titulo{
                text-align:center;
                padding:0px;
            }
            &_container{
                margin:0px;
                padding-top:0px;
                padding-bottom:90px;
                &_pocao{
                    margin:30px 0px;
                    padding:0px;
                    width:45%;
                    height:225px;
                }
            }
        }
    }


    footer{
        flex-wrap: wrap;
        .informacoes{
            align-items:center;
            justify-content:center;
            &_contato{
                display:none;
            }
            &_newsletter{
                width:100%;
                display:block;
            }
        }
    }
}