@import 'config';
/*Importando variáveis do config*/

*{
    padding:0;
    margin:0;
}
body{
    font-size:1.2em;
}
a{
    text-decoration:none;
    color:white;
}
i{
    font-style:normal;
}
header{
    width:$total;
    height:30vh;
    display:flex;
    justify-content:center;
    position:relative;
    .container_cabecalho{
        width:80%;
        height:65%;
        background:yellow;
        .imagem{
            width:30%;
            height:$total;
            float:left;
            img{
                width:100%;
                height:100%;
            }
        }

        .busca{
            width:30%;
            height:$total;
            background:blue;
            float:left;
        }
        .frete{
            width:20%;
            height:$total;
            background:magenta;
            float:left;
        }
        .carrinho{
            width:20%;
            height:$total;
            background:red;
            float:left;
        }
    }

    nav{
        width:100%;
        height:35%;
        position:absolute;
        bottom:0px;
        background:$roxoNavbar;
        display:flex;
        justify-content:center;
        ul{
            list-style:none;
            width:$total - 40%;
            height:$total;
            display:flex;
            justify-content: space-evenly;
            li{
                padding:0px 10px;
                height:$total;
                float:left;
                display:flex;
                align-items:center;
                a{
                    padding:20px 15px;
                    border-radius:10px;
                    &:hover{
                        background:$roxoHover;
                        transition:200ms;
                    }
                }
            }
        }

        .area_cliente{
            width:20%;
            height:$total;
            display:flex;
            justify-content:center;
            align-items:center;
        }
    }
}

main{
    width:$total;
    display:flex;
    justify-content:center;
    align-items:center;
    .vitrine{
        width:90%;
        &_titulo{
            padding:50px 0px;
            display:block; 
        }
        &_container{
            width:100%;
            display:flex;
            flex-wrap:wrap;
            justify-content:space-evenly;

            &_pocao{
                margin:90px 10px;
                width:25%;
                height:300px;
                display:flex;
                justify-content:center;
                flex-wrap:wrap;
                &_imagem{
                    width:100%;
                    height:$total - 10%;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
            }
        }
    }
}