@import 'config';
/*Importando variáveis do config*/

*{
    padding:0;
    margin:0;
}
body{
    font-size:1.2em;
}
input{
    padding:10px;
    border-radius:5px;
    border:1px solid black;
    outline:none;
}
button{
    cursor:pointer;
}
a{
    text-decoration:none;
    color:white;
}
i{
    font-style:normal;
}
ul{
    list-style:none;
}



header{
    width:$total;
    height:30vh;
    display:flex;
    justify-content:center;
    position:relative;
    .cabecalho{
        width:$total;
        height:65%;
        &_imagem{
            width:30%;
            height:$total;
            float:left;
            img{
                width:$total;
                height:$total;
            }
        }

        &_busca{
            width:30%;
            height:$total - 20%;
            float:left;
            display:flex;
            align-items:center;
            justify-content:center;
            input{
                height:40px;
                width:80%;
            }
        }
        &_frete{
            width:20%;
            height:$total;
            float:left;
            display:flex;
            justify-content:center;
            &_titulo{
                margin-top:20px;
                float:right;
                color:$laranjaLetra;
                font-style:italic;
            }
        }
        &_carrinho{
            width:20%;
            height:$total;
            background:red;
            float:left;
            &_imagem{
                height:$total;
                width:20%;  
                display:flex;
                align-items:center;
                justify-content:center;
                img{
                    width:$total - 20%;
                    height:40%;
                }
            }
            &_descricao{
                width:60%;
                height:$total;
                background:blue;
            }
        }
        &_navegacao{
            width:$total;
            height:35%;
            position:absolute;
            bottom:0px;
            background:$roxoNavbar;
            display:flex;
            justify-content:center;
                &_listas{
                    width:$total - 40%;
                    height:$total;
                    display:flex;
                    justify-content: space-evenly;
                    li{
                        padding:0px 10px;
                        height:$total;
                        float:left;
                        display:flex;
                        align-items:center;
                        a{
                            padding:20px 15px;
                            border-radius:10px;
                            &:hover{
                                background:$roxoHover;
                                transition:200ms;
                            }
                        }
                    }
                }
            &_area_cliente{
                width:20%;
                height:$total;
                display:flex;
                justify-content:center;
                align-items:center;
            }
        }
    }
}






main{
    width:$total;
    display:flex;
    justify-content:center;
    align-items:center;
    .vitrine{
        width:90%;
        &_titulo{
            padding:50px 0px;
            display:block; 
        }
        &_container{
            width:$total;
            display:flex;
            flex-wrap:wrap;
            justify-content:space-evenly;

            &_pocao{
                margin:90px 10px;
                width:25%;
                height:300px;
                display:flex;
                justify-content:center;
                flex-wrap:wrap;
                &_imagem{
                    width:$total;
                    height:$total - 10%;
                    img{
                        width:$total;
                        height:$total;
                    }
                }
            }
        }
    }
}







footer{
    width:$total;
    height:40vh;
    background:$cinza;
    .informacoes{
        height:$total;
        display:$total;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
        &_contato{
            width:40%;
            height:$total - 20%;
            &_navegacao{
                width:100%;
                height:30%;
                &_listas{
                    width:100%;
                    height:100%;
                    li{
                        width:30%;
                        padding:0px 0px;
                        float:left;
                        text-transform:uppercase;
                        color:$laranjaLetra;
                        font-size:1.2em;
                    }
                }
            }
            &_sociais{
                width:100%;
                height:45%;
                background:blue;
            }
            &_copyright{
                width:100%;
                height:25%;
                display:flex;
                align-items:center;
            }
        }
        &_newsletter{
            width:40%;
            height:$total - 20%;
            display:flex;
            justify-content:center;  
            &_formulario{
                background:white;
                border-radius:10px;
                width:80%;
                height:55%;
                padding:30px 20px;
                h3{
                    font-style:italic;
                    font-weight:100;
                }
                p{
                    padding:20px 0px;
                }
                &_inputs{
                    width:100%;
                    height:30%;
                    input{
                        height:45%;
                        width:60%;
                    }
                    button{
                        background:$laranjaFundo;
                        width:33%;
                        height:100%;
                        float:right;
                        border:none;
                        border-radius:5px;
                        color:white;
                        text-transform:uppercase;
                    }
                }
            }
        }
    }
}